<!-- <nav class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
    <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo">
    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>
  </a>
  <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
    <button type="button"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get
    started</button>
    <button data-collapse-toggle="navbar-sticky" type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-sticky" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15" />
      </svg>
    </button>
  </div>
  <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
    <ul
      class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
      <li>
        <a href="#"
          class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
        aria-current="page">Home</a>
      </li>
      <li>
        <a href="#"
        class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a>
      </li>
      <li>
        <a href="#"
        class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Services</a>
      </li>
      <li>
        <a href="#"
        class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
      </li>
    </ul>
  </div>
</div>
</nav> -->

<!-- <div class="relative inline-block mt-20 ml-20">
<div class="absolute top-0 left-0 bg-[#001E2B] w-full h-full"></div>

    <button class="
      relative
      bg-white
      text-[#001E2B]
      font-bold 
      py-3 
      px-6 
      border-2 
      border-[#001E2B]
      hover:-translate-y-1
      hover:-translate-x-1
      transition-all 
      duration-200 
      ease-in-out 
      uppercase 
      text-lg
    " (click)="showForm()">
  Click Me
</button>
</div>

<div class="relative inline-block mt-20 ml-20">
  <div class="absolute top-0 left-0 bg-[#001E2B] w-full h-full"></div>

    <button class="
      relative
      bg-[#001E2B]
      text-white
      font-bold 
      py-3 
      px-6 
      border-2 
      border-[#001E2B] 
      hover:-translate-y-1
      hover:-translate-x-1
      transition-all 
      duration-200 
      ease-in-out 
      uppercase 
      text-lg
    ">
    Click Me
  </button>
</div>

<div class="p-10 w-full">
  <div class="relative w-full">
    <div class="absolute top-1 left-1 bg-[#001E2B] w-full h-full"></div>
        <input type="password" class="
        relative
        w-full
        bg-white
        text-[#001E2B]
        font-bold 
        py-3 
        px-6 
        border-2 
        border-[#001E2B] 
        uppercase 
        text-lg
        focus:outline-none
      " placeholder="Escribe aquí">
  </div>
</div> -->

<!-- <div class="p-4 sm:p-10">
<div class="relative">
  <div class="absolute top-2 left-2 bg-[#001E2B] w-full h-full"></div>
  <div class="relative overflow-hidden shadow-md">
    <div class="overflow-x-auto">
      <table class="w-full text-sm text-left bg-white border-2 border-[#001E2B]">
        <thead class="text-xs uppercase bg-[#001E2B] text-white">
          <tr>
            <th scope="col" class="px-6 py-3 border-r-2 border-b-2 border-[#001E2B] whitespace-nowrap">Product name</th>
            <th scope="col" class="px-6 py-3 border-r-2 border-b-2 border-[#001E2B] whitespace-nowrap">Color</th>
            <th scope="col" class="px-6 py-3 border-r-2 border-b-2 border-[#001E2B] whitespace-nowrap">Category</th>
            <th scope="col" class="px-6 py-3 border-r-2 border-b-2 border-[#001E2B] whitespace-nowrap">Price</th>
            <th scope="col" class="px-6 py-3 border-b-2 border-[#001E2B] whitespace-nowrap">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-b-2 border-[#001E2B]">
            <th scope="row" class="px-6 py-4 font-medium border-r-2 border-[#001E2B] whitespace-nowrap">Apple MacBook Pro 17"</th>
            <td class="px-6 py-4 border-r-2 border-[#001E2B] whitespace-nowrap">Silver</td>
            <td class="px-6 py-4 border-r-2 border-[#001E2B] whitespace-nowrap">Laptop</td>
            <td class="px-6 py-4 border-r-2 border-[#001E2B] whitespace-nowrap">$2999</td>
            <td class="px-6 py-4 whitespace-nowrap">
              <a href="#" class="font-medium text-[#001E2B] hover:underline">Edit</a>
            </td>
          </tr>
          <tr class="border-b-2 border-[#001E2B]">
            <th scope="row" class="px-6 py-4 font-medium border-r-2 border-[#001E2B] whitespace-nowrap">Microsoft Surface Pro</th>
            <td class="px-6 py-4 border-r-2 border-[#001E2B] whitespace-nowrap">White</td>
            <td class="px-6 py-4 border-r-2 border-[#001E2B] whitespace-nowrap">Laptop PC</td>
            <td class="px-6 py-4 border-r-2 border-[#001E2B] whitespace-nowrap">$1999</td>
            <td class="px-6 py-4 whitespace-nowrap">
              <a href="#" class="font-medium text-[#001E2B] hover:underline">Edit</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div> -->
@if (isLoading) {
<app-brutal-spinner [message]="'Escaneando tu ticket'"></app-brutal-spinner>
}

@if (notScanned) {
<div class="p-10">
  <div class="relative">
    <div class="absolute top-2 left-2 bg-[#001E2B] w-full h-full"></div>
    <div #dropArea class="relative border-2 border-[#001E2B] bg-white p-8 text-center transition-all duration-300"
      (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
      <input id="fileInput" #fileInput type="file" class="hidden" accept=".pdf" multiple
        (change)="onFileSelected($event)">
      <label for="fileInput" class="cursor-pointer">
        <div class="border-2 border-dashed border-[#001E2B] p-6">
          <svg class="mx-auto h-12 w-12 text-[#001E2B]" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12">
            </path>
          </svg>
          <p class="mt-2 text-sm text-[#001E2B]">
            <span class="font-semibold">Haz clic para subir</span> o arrastra y suelta
          </p>
          <p class="mt-1 text-xs text-[#001E2B]">
            Solo archivos PDF
          </p>
        </div>
      </label>
    </div>
  </div>
</div>

<div class="px-6 sm:px-10 py-4 sm:py-10 w-full" [formGroup]="form">
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 max-w-md mx-auto">
    <div class="relative w-full">
      <div class="absolute top-1 left-1 bg-[#001E2B] w-full h-full"></div>
      <label
        class="relative flex items-center justify-center bg-white border-2 border-[#001E2B] p-4 cursor-pointer w-full h-full">
        <input type="radio" value="consum" formControlName="storeSelection" class="hidden peer">
        <div class="absolute left-4 w-6 h-6 border-2 border-[#001E2B] rounded-full peer-checked:bg-[#001E2B]">
        </div>
        <span class="text-[#001E2B] font-bold uppercase text-center">Consum</span>
      </label>
    </div>
    <div class="relative w-full">
      <div class="absolute top-1 left-1 bg-[#001E2B] w-full h-full"></div>
      <label
        class="relative flex items-center justify-center bg-white border-2 border-[#001E2B] p-4 cursor-pointer w-full h-full">
        <input type="radio" value="mercadona" formControlName="storeSelection" class="hidden peer">
        <div class="absolute left-4 w-6 h-6 border-2 border-[#001E2B] rounded-full peer-checked:bg-[#001E2B]">
        </div>
        <span class="text-[#001E2B] font-bold uppercase text-center">Mercadona</span>
      </label>
    </div>
  </div>
</div>

} @else {
@if (parsedData.length > 0) {
<div class="p-4 sm:p-10">
  <div class="relative">
    <div class="absolute top-2 left-2 bg-[#001E2B] w-full h-full"></div>
    <div class="relative overflow-hidden shadow-md">
      <div class="overflow-x-auto">
        <table class="w-full text-sm text-left bg-white border-2 border-[#001E2B]">
          <thead class="text-xs uppercase bg-[#001E2B] text-white">
            <tr>
              <th scope="col" class="px-6 py-3 border-r-2 border-b-2 border-[#001E2B] whitespace-nowrap">
                PRODUCTO</th>
              <th scope="col" class="px-6 py-3 border-r-2 border-b-2 border-[#001E2B] whitespace-nowrap">
                CANTIDAD</th>
              <th scope="col" class="px-6 py-3 border-r-2 border-b-2 border-[#001E2B] whitespace-nowrap">
                PVP</th>
              <th scope="col" class="px-6 py-3 border-b-2 border-[#001E2B] whitespace-nowrap">TOTAL</th>
            </tr>
          </thead>
          <tbody>
            @for (item of parsedData; track item) {
            <tr class="border-b-2 border-[#001E2B]">
              <td class="px-6 py-4 border-r-2 border-[#001E2B] whitespace-nowrap">{{ item.nombre }}</td>
              <td class="px-6 py-4 border-r-2 border-[#001E2B] whitespace-nowrap">{{ item.cantidad }}</td>
              <td class="px-6 py-4 border-r-2 border-[#001E2B] whitespace-nowrap">{{ item.precioUnitario |
                currency:'EUR':'symbol':'1.2-2' }}</td>
              <td class="px-6 py-4 whitespace-nowrap">{{ item.precioTotal |
                currency:'EUR':'symbol':'1.2-2' }}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
}
}